@model IEnumerable<C_Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>Teachers List Page</h2>

<div class="row">
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    <nav>
        <a class="navlink" href="/Teacher/New">Add Teachers</a>
    </nav>
</div>

<div class="row">
    <div class="col-12">
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Employee Number</th>
                    <th>Teacher First Name</th>
                    <th>Teacher Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.EmployeeNumber</td>
                        <td>@item.TeacherFName</td>
                        <td>@item.TeacherLName</td>
                        <td>
                            @Html.ActionLink("Show", "Show", new { id = @item.TeacherId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>

                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    nav {
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .navlink {
        display: inline-block;
        padding: 10px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
    input[type="text"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"]:hover {
            background-color: #45a049;
        }
</style>
